<!--<!DOCTYPE html>
<html>
<head>
	<title>Llistar Categories</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<table class="table table-striped table-condensed table-hover">
		<thead>
	        <tr>
	            <th style="width: 100px;">
	                <div class="btn-toolbar">
	                	<i class="btn icon-plus" (click)="toogleAddMode()" tooltip-popup-delay='1000' tooltip='Afegeix un registre'></i>
	                </div>
	            </th>
	            <th class="id">Id&nbsp;<a (click)="sort_by('id')"><i class="icon-sort"></i></a></th>
	            <th class="nom">Nom&nbsp;<a (click)="sort_by('nom')"><i class="icon-sort"></i></a></th>
	            <th class="municipi">Municipi&nbsp;<a (click)="sort_by('municipi')"><i class="icon-sort"></i></a></th>
	            <th class="comarca">Comarca&nbsp;<a (click)="sort_by('comarca')"><i class="icon-sort"></i></a></th>
	            <th class="comarca">Categories&nbsp;<a (click)="sort_by('categories')"><i class="icon-sort"></i></a></th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr *ngFor="let item of pagedItems">
	    		<td>
	    			
	    			<div class="btn-toolbar" [hidden]="!editMode == null || item.editMode == false">
	    				<div class="btn-group">
                            <i class="btn icon-edit" (click)="editMode(item)" tooltip-popup-delay='1000' tooltip='Edita el registre'></i>
                            <i class="btn icon-trash" ng-click="del(item, $index)" tooltip-popup-delay='1000' tooltip='Elimina el registre'></i>
                        </div>
	    			</div>
	    		</td>
	    	</tr>
	    </tbody>
	</table>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
</body>
</html>-->